html{
  font-family: $font-family; 
}

.disappear {
  @apply hidden opacity-0 absolute top-0 left-0 h-0 w-0 invisible;
  clip: rect(0px, 0px, 0px, 0px);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-content {
  @apply p-10;
  display: flex;
  background-color: $gray;
  width: 100%;
  flex-direction: column;
  // padding: 30px 0;

  .content-box {
    @apply bg-grayBgLight h-full;
  }
}
