@import "not-found";

// Inputs

.input {
  @apply border h-10 w-full border-black rounded-md shadow-sm;
}

.alert-stack {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinha os alertas à direita */
  z-index: 1000;
}

.alert-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

/* Para os alertas que entram e saem com transição (Slide in e Slide out) */
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%); /* Inicia fora da tela à direita, no eixo X */
}

.slide-enter-to,
.slide-leave-from {
  transform: translateX(0); /* Entra e sai a partir da posição 0 no eixo X */
}

/* Definindo as cores de fundo de acordo com o tipo de alerta */
.info {
  background-color: #31708f;
  color: white;
}

.warning {
  background-color: #8a6d3b;
  color: white;
}

.error {
  background-color: #a94442;
  color: white;
}

.success {
  background-color: #3c763d;
  color: white;
}

.icon {
  margin-right: 10px;
}

button {
  background: none;
  border: none;
  font-size: 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* Transição personalizada */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
