amqp==5.2.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
annotated-types==0.7.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
astropy-iers-data==0.2024.12.23.0.33.24 ; python_full_version >= "3.11.5" and python_version < "3.12"
astropy==7.0.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
asttokens==2.4.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
billiard==4.2.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
blinker==1.8.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
boto3==1.35.5 ; python_full_version >= "3.11.5" and python_version < "3.12"
botocore==1.35.5 ; python_full_version >= "3.11.5" and python_version < "3.12"
cachelib==0.13.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
celery[redis]==5.4.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
certifi==2024.7.4 ; python_full_version >= "3.11.5" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
click-didyoumean==0.3.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
click-plugins==1.1.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
click-repl==0.3.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
click==8.1.7 ; python_full_version >= "3.11.5" and python_version < "3.12"
colorama==0.4.6 ; python_full_version >= "3.11.5" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows")
contourpy==1.2.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
cycler==0.12.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
decorator==5.1.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
executing==2.0.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
flask-mail==0.9.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
flask-session==0.5.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
flask-wtf==1.2.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
flask==2.3.3 ; python_full_version >= "3.11.5" and python_version < "3.12"
fonttools==4.53.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
gunicorn==21.2.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
hiredis==3.0.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
idna==3.8 ; python_full_version >= "3.11.5" and python_version < "3.12"
imageio==2.36.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
ipython==8.26.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
itsdangerous==2.2.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
jedi==0.19.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
jinja2==3.1.4 ; python_full_version >= "3.11.5" and python_version < "3.12"
jmespath==1.0.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
kiwisolver==1.4.5 ; python_full_version >= "3.11.5" and python_version < "3.12"
kombu==5.4.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
lazy-loader==0.4 ; python_full_version >= "3.11.5" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
markupsafe==2.1.5 ; python_full_version >= "3.11.5" and python_version < "3.12"
matplotlib-inline==0.1.7 ; python_full_version >= "3.11.5" and python_version < "3.12"
matplotlib==3.9.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
mdurl==0.1.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
networkx==3.4.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
numpy==2.1.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
packaging==24.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
parso==0.8.4 ; python_full_version >= "3.11.5" and python_version < "3.12"
pexpect==4.9.0 ; python_full_version >= "3.11.5" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==10.4.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
prompt-toolkit==3.0.47 ; python_full_version >= "3.11.5" and python_version < "3.12"
ptyprocess==0.7.0 ; python_full_version >= "3.11.5" and python_version < "3.12" and (sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_full_version >= "3.11.5" and python_version < "3.12"
pydantic-core==2.20.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
pydantic-settings==2.4.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
pydantic==2.8.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
pydash==7.0.7 ; python_full_version >= "3.11.5" and python_version < "3.12"
pyerfa==2.0.1.5 ; python_full_version >= "3.11.5" and python_version < "3.12"
pygments==2.18.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
pyparsing==3.1.4 ; python_full_version >= "3.11.5" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.11.5" and python_version < "3.12"
python-dotenv==1.0.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
pyyaml==6.0.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
redis==5.0.8 ; python_full_version >= "3.11.5" and python_version < "3.12"
redis[hiredis]==5.0.8 ; python_full_version >= "3.11.5" and python_version < "3.12"
requests==2.32.3 ; python_full_version >= "3.11.5" and python_version < "3.12"
rich==13.7.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
s3transfer==0.10.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
scikit-image==0.25.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
scipy==1.14.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
six==1.16.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
stack-data==0.6.3 ; python_full_version >= "3.11.5" and python_version < "3.12"
tifffile==2024.12.12 ; python_full_version >= "3.11.5" and python_version < "3.12"
traitlets==5.14.3 ; python_full_version >= "3.11.5" and python_version < "3.12"
typing-extensions==4.12.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
tzdata==2024.1 ; python_full_version >= "3.11.5" and python_version < "3.12"
urllib3==2.2.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
vine==5.1.0 ; python_full_version >= "3.11.5" and python_version < "3.12"
wcwidth==0.2.13 ; python_full_version >= "3.11.5" and python_version < "3.12"
werkzeug==2.3.8 ; python_full_version >= "3.11.5" and python_version < "3.12"
wtforms==3.1.2 ; python_full_version >= "3.11.5" and python_version < "3.12"
