// Familia
$font-family: "Oxanium";

// Estilo
$bold: 700;
$normal: 400;
$it: italic;

// Tamanho
$f13: 13px;
$f14: 14px;
$f15: 15px;
$f16: 16px;
$f22: 22px;

// Cor
$black: #222222;
$red: #ec0000;
$gray: #f4f5fb;
$orange: #fcecd8;
$dark-orange: #e88600;
$dark-gray: #737373;
$light-gray: #d8d8d8;

$overflow: rgba(0, 0, 0, 0.5);
